/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body {
	background: url("./images/maddison-mcmurrin-GDumtPpJsT4-unsplash.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* div {
	display: block;
} */

.input {
	margin: 100px 0;
	text-align: center;
	color: black;
	font-weight: bolder;
	width: 100%;
}

.heading {
	padding-top: 2em;
	display: flex;
	justify-content: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: larger;
	font-weight: bolder;
}

/* specify input type is text */
input[type="text"] {
	background: blanchedalmond;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
}

input[type="submit"] {
	background: blanchedalmond;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 10px;
}

.display {
	font-size: medium;
	font-weight: bolder;
	text-align: center;
}

.content {
	padding: 2em;
	border-radius: 20px;
	/* max-width: 420px; */
	margin: 1em;
	background: rgba(37, 32, 32, 0.816); /*d0 indicates transperancy*/
	color: white;
}
